<p id="notice"><%= notice %></p>

<h1>Weeks</h1>
  <div class="col col-md-8 col-md-offset-2">
    <% @weeks.each do |week| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to week.name, week %></h3>
        </div>
        <div class="panel-body">
          Amount of submissions: <span class="badge"><%=week.submissions.count%></span>
        </div>
    </div>
    <% end %>
  </div>
<br>
<div class="col col-md-8">
  <%= link_to "Create submission", new_submission_path, class: "btn btn-success" %>
</div>
