<h1>Weeks</h1>

<% if current_user %>
<div class="col col-md-8 col-md-offset-2">
  <div class="panel-group" id="accordion">
    <div class="panel panel-success" id="panel1">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a style="cursor: pointer;" data-toggle="collapse" data-target="#collapseOne"
           class="collapsed">
          Create Submission
        </a>
      </h4>

        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <%= render 'submissions/form' %>
            </div>
        </div>
    </div>
  </div>
</div>
<% end %>
<div class="col col-md-8 col-md-offset-2">
  <% @weeks.each do |week| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= link_to week.name, week %></h3>
      </div>
      <div class="panel-body">
        Amount of submissions: <span class="badge"><%= week.submissions.count %></span>,
        Max points: <span class="badge"><%= week.max_points %></span>
      </div>
  </div>
  <% end %>
</div>
<br>
