<div class="row">
  <h1>
    Submissions
    <% if current_user %>
      <%= link_to 'Create Submission', new_submission_path, class:"btn btn-success btn-xs" %>
    <% end %>
  </h1>
</div>
<div class="row">
  <div class="col col-md-8 col-md-offset-2">
    <%= form_tag(submissions_path, :method => "get", id: "search-form") do %>
      <div class="form-group">
        <label class="sr-only" for="search">Student number</label>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <%= text_field_tag :search, params[:search], placeholder: "Find submission with student number", class:"form-control" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'list', submissions: @submissions %>
