@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  font-family: 'Raleway';
  padding-left: 2%;
  padding-top: 2%;
}

h1 {
  @extend .text-center;
  font-family: 'Ubuntu';
}

.btn {
    border-width: 2px;
    font-weight: 700;
    background: none;
    color: inherit;
}
