@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  font-family: 'Raleway';
  padding-left: 2%;
  padding-right: 2%;
}

h1 {
  @extend .text-center;
  font-family: 'Ubuntu';
}

.badge-success {
  @extend .badge;
  background-color: green;
}

.btn {
  border-width: 2px;
  font-weight: 700;
  background: none;
  color: inherit;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
